.FontBulge:hover {
  -webkit-animation: FontBulge 1s;
  -moz-animation: FontBulge 1s;
}
@-webkit-keyframes FontBulge {
  0% {
    font-size: 60px;
  }
  20% {
    font-size: 80px;
    letter-spacing: 5px;
  }
  55% {
    font-size: 55px;
    letter-spacing: -5px;
    }
  80% {
    font-size: 70px;
    letter-spacing: 2px;
  }
  100% {
    font-size: 60px;
  }
}
.hero-unit {
  background: -webkit-linear-gradient(left top,#94c23d,#81b226);
  color:#fafafa;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
h1 {
  font-size:60px;
  margin:30px;
  padding:24px;
}
